doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Andrea Flores
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Andrea 
                        span.text-primary Flores
                    .subheading.mb-5
                        | Barakaldo #20 · Banus Residential, Sonora 83106 · 6622384515 · 
                        a(href='mailto:andreaflhz@gmail.com') andreaflhz@gmail.com
                    p.lead.mb-5
                        | My principal objective is to perform and develop my skills for the benefit of the institution that require my service. Ability to perform any task required and learn from it. Great capacity with team work and leadership with colleagues.
                    .social-icons
                        a.social-icon(href= 'https://github.com/andreaflhz')
                            i.fab.fa-github
                        a.social-icon(href='https://www.instagram.com/andrea_flhz/?hl=es-la')
                            i.fab.fa-instagram
                        a.social-icon(href='https://www.facebook.com/andreaflhz')
                            i.fab.fa-facebook-f
                        a.social-icon(href='https://t.me/andreaflhz')
                            i.fab.fa-telegram
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Goods sale
                            .subheading.mb-3 Freelance
                            p
                                | Provide goods services, relationships and manage profits
                        .flex-shrink-0
                            span.text-primary 2018 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Assistant Web Developer
                            .subheading.mb-3 Freelance
                            p
                                | Management and assist in web development, requests for independent web pages and PC builder.
                        .flex-shrink-0
                            span.text-primary 2020 - present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Customer Service
                            .subheading.mb-3 Pacific Print
                            p
                                | Customer service and assistant, being able to recieve, process and hand in diverse products.
                        .flex-shrink-0
                            span.text-primary 2015 - 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Theater Club
                            .subheading.mb-3 UVM
                            p
                                | Ability and experience to act in presented plays and to speak in public.
                        .flex-shrink-0
                            span.text-primary 2019 - 2020

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Highland Bicultural School
                            .subheading.mb-3 Bicultural Kinder, Elementary and Middle School
                            div Since I was 4 years old I learned English at Highland School and in mMiddle School started learning french.
                            p Languages: English and French
                        .flex-shrink-0
                            span.text-primary September 2007 - June 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Universidad del Valle de México (UVM)
                            .subheading.mb-3 Biculural High School and University
                            p Since I joined UVM I have been practicing and updating my general, French and English knowledge.
                        .flex-shrink-0
                            span.text-primary September 2019 - present

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Work skills
                    
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Critical thinking
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Customer service
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Leadership
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Time management
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Communication
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Teamwork
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Organizaion
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Problem solving

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I enjoy camping and being outdoors practicing archery and mostly on rainy days, I also really enjoy acting in theater clubs and presenting the plays in public. I'm also interested in writing, reading and playing chess in my free time.
                    p.mb-0
                        | When forced indoors, I spend part of my free time watching sci-fi, horror and fantasy genre movies and television shows, I also aspire to improve my cooking skills by cooking in my own house new recipes every time I can.
            
            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Achievements
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Keeping an educational scholarship in UVM - 2019 - present
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Math reward in Highland Bicultural School - 2019
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Created a Web Page by myself - 2021
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Entered the representative theater club - 2020
                        

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')